.LocalStorageWarning {
  background-color: #ddd;
  border: 1px solid #ccc;
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
	box-shadow: 2px 2px 5px 0px #777;
  padding: 2px 0;
  margin: 10px 0 0;
}

.LocalStorageWarning a {
  color: red;
  text-decoration: underline;
}