.Gamelist {
	padding-top: 10px;
}

.GamesList ul {
	list-style-type: none;
}

.GamesList ul li {
  color: #000;
	cursor: pointer;
}

.GamesList ul li:not(:first-child):hover {
	box-shadow: 2px 2px 15px 0px black;
}
