.PuzzlePiece {
	background-color: red;
	position: absolute;
	border: 1px solid #111111;
	cursor: pointer;
  box-sizing: border-box;
	text-align: left;
	font-size: 1.4em;
	font-weight: bold;
	text-shadow: 0px 0px 10px white;
	transition: all 0.5s;
}

