.Button {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  padding: 10px;
  margin: 10px 10px 0;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
	background-color: white;
	background-image: linear-gradient(to right, #ccc, white, #ccc);  
}

.Button:hover:not(:disabled) {
  box-shadow: 2px 2px 15px 0px black;
}

.Button:focus {
  outline: none;
}

.Button:active {
	background-image: linear-gradient(to right, #ccc, yellow, #ccc);  
  transform: scale(1.1);
}

.Button:disabled {
  color: #aaa;
  text-shadow: none;
  cursor: default;
}

