.Button {
  font-size: 1em;
  color: #000;
  padding: 10px;
  margin: 10px 10px 0;
  width: 70%;
  max-width: 250px;
  cursor: pointer;
}

.Button:hover:not(:disabled) {
  box-shadow: 2px 2px 15px 0px red;
  /* background-color: #fcefef; */
  /* font-weight: bold; */
  /* text-shadow: 2px 2px 8px red; */
  /* box-shadow: 1px 1px 15px red; */
}

.Button:disabled {
  color: #aaa;
  text-shadow: none;
  cursor: default;
}

