.GameInfo {
	background-color: inherit;
	padding: 2px;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	/* position: relative; */
}

.GameInfoHeader {
	cursor: auto;
	font-weight: bold;
	background-color: inherit;
}

.GameInfoHeader .GameInfoUserPB,
.GameInfoHeader .GameInfoHighscore {
	font-size: 0.8em;
}

.GameInfoName {
	width: 100%;
	font-weight: bold;
	border-left: none;
	border-bottom: 1px solid #ccc;
	padding: 0 5px;
	padding-bottom: 2px;
	margin-bottom: 2px;
}

.GameInfoUserPB {
	width: 33%;
	padding: 0 5px;
}

.GameInfoHighscore,
.GameInfoStars {
	border-left: 1px solid #ccc;
	width: 33%;
	padding: 0 5px;
}

.GameInfoSelected {
	background-color: #ccc;
	background-image: linear-gradient(to top, white, #bbb, white);
}

.GameInfo img {
	width: 1.4em;
	height: 1.4em;
	margin: 0 2px;
}

@media (min-width: 600px) {
	.GameInfoUserPB {
		width: 20%;
		border-left: 1px solid #ccc;
	}

	.GameInfoHighscore,
	.GameInfoStars {
		width: 20%;
	}

	.GameInfoName {
		width: 40%;
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}
