.GameInfo {
	background-color: transparent;
	padding: 2px;
	display: flex;
	/* align-items: center; */
  flex-wrap: wrap;
}

.GameInfoName,
.GameInfoUserPB,
.GameInfoHighscore,
.GameInfoAvgPB,
.GameInfoStars {
	text-align: center;
	border-left: 1px solid green;
	width: 25%;
}

.GameInfoName {
	width: 100%;
	border-left: none;	
	border-bottom: 1px solid green;
}

.GameInfoSelected {
  background-color: yellow;
}

@media (min-width: 600px) {
	.GameInfoUserPB,
	.GameInfoHighscore,
	.GameInfoAvgPB,
	.GameInfoStars {
		width: 15%;
	}

	.GameInfoName {
		width: 40%;
		border-bottom: none;
	}
}
