.YouWin {
  line-height: 1.4em;
  padding: 10px;
}

.YouWin h2 { 
  padding: 10px;
  text-align: center;
}

.YouWin span{
  font-weight: bold;
  font-size: 1.2em;
}

.YouWin img {
	width: 1.4em;
	height: 1.4em;
	margin: 0 5px -2px;
}