.Timer {
  display: block;
  width: 15%;
  min-width: 80px;
  padding: 5px 0;
  margin: 10px auto 0; 


  background-color: white;
  border: 1px solid #ccc;
  color: black;
  font-size: 1.4em;
  /* font-weight: bold; */
	box-shadow: 2px 2px 5px 0px #777;
 
}