.Timer {
  display: block;
  width: 15%;
  min-width: 80px;
  font-size: 1.4em;
  color: black;
  background-color: white;
  background-image: linear-gradient(to right, #ccc, white);
  padding: 5px 0;
  margin: 10px auto 0; 
}

.tick {
  background-color: #ccc;
  background-image: linear-gradient(to left, #ccc, white);
}