.Layout {
  width:100%;
	background-color: white;
	font-size: 1rem;
}

.Header {
	display: flex;
	justify-content: flex-end;
	font-size: 1.0em;

  background-color: #ddd;
  border: 1px solid #ccc;
	box-shadow: 2px 2px 5px 0px #777;
	margin: 0 10px 10px 10px;
	transform: translateY(5px);
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);

	padding: 2px 0;
	cursor: pointer;	
	position: relative;
	z-index:500;
}



.Username {
	width: 90%;
	margin: 0px;
	padding: 0 0 0 10%;
}

.Username ~ div { /* LANG SELECT ITEM, ETC...  */
	width: 10%;
  position: relative;
	display: inline-block;
	margin: 0;
	background-color: inherit;
  border-left: 1px solid #ccc;
	padding: 0 2px; 
}

.Box {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 200px;
  background-color: white;
	border: 1px solid black;
	/* z-index: 600; */
}

@media (min-width: 600px) {
	.Layout {
		width: 570px;
		font-size: 1.2rem;
	}
	.Box {
		left: 20%;
		width: 60%;
	}
}

@media (min-width: 800px) {
	.Layout {
    width: 760px;
		font-size: 1.4rem;
	}
}

@media (min-width: 1000px) {
	.Layout {
    width: 950px;
		font-size: 1.6rem;
	}
	.Box {
		left: 25%;
		width: 50%;
	}	
}